<!DOCTYPE html>
<html>
  <head>
  	<title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1 style="font-style:italic">Welcome to the Home of ROR</h1>
      <%= link_to 'Blog', blog_path %>

  </body>

</html>



